<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byType">
    <bean id="user" class="spring.autowire.vo.User"></bean>
    <bean id="address1" class="spring.autowire.vo.Address">
        <property name="city" value="bj"></property>
        <property name="road" value="科创十一街"></property>
    </bean>
</beans>